body {
    padding: 0;
    margin: 0;
    /*background-image: url("../images/fondo_lynx.png");*/
    /*background-size: 100%;*/

}

html, body {
    height: 100%;
    /*font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    font-family: 'Poppins', sans-serif;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}