body {
    padding: 0;
    margin: 0;
    /*background-image: url("../images/fondo_lynx.png");*/
    /*background-size: 100%;*/

}

html, body {
    height: 100%;
    /*font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

.txt-welcome{
    font: 14pt 'Poppins', sans-serif;
    line-height: 25pt;
}

.txt-step{
    font: 12pt 'Poppins', sans-serif;
    line-height: 24pt;   
}

#main-header {
    background: #333;
    color: white;
    height: 60px;

    text-align: left;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;


    z-index: 20000;
    opacity: .9;
}   

.dropdown_idioma{
    margin-right: -70;
}

.dropdown_group{
    /*  margin-left: -100px;
      margin-top: 8px;*/
    /*border-style: solid;*/
    width: 100% !important;
}

.form-signin {
    max-width: 350px; 
    /*height: 400px;*/
    display:block;
    /*background-color: #f7f7f7;*/
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
    border-radius:2px;
    margin: 0 auto;
    background-color: #ffffff;
    opacity: 0.85;
    filter: alpha(opacity=85);
    /*background:#f0f0f0;*/
}

.heading-desc{
    font-size:18px;
    font-weight:bold;
    padding: 10px 18px 5px 8px !important;
    text-align: center;
    /*color: #701109;*/
    /*margin-top: 150px;*/

}

.heading-desc-low{
    font-size:18px;
    font-weight:bold;
    padding: 10px 18px 5px 8px !important;
    text-align: center;
    color: #701109 !important;
    /*text-shadow: 1px 1px #999;*/
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-footer{
    background-color: #ffffff;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    padding:20px;
}

.left-section{
    margin-bottom: 10px;
    margin-top: 20px;
}

.left-section a{
    font-weight:bold;
    color:#701109 !important;
    line-height:30px;
    /*font-size: 25px;*/
    /*text-shadow: 1px 1px #999;*/
    padding: 2px;
    text-align: center;
    
    /*padding-left: 5px;*/
}

.mg-btm{
    margin-bottom:20px;
}

.div-header{
    padding: 1px;
    margin-top: 100px;
    width: 100%;
    background-color: #ffffff;

    /*border-radius: 5px;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;

    opacity: 0.8;
    filter: alpha(opacity=80);*/
}

.header-explorador{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center !important;
    line-height: 40px;
    width: 100% !important;
}


.mymodals {
    top:30%;
    left:15%;
    /*width: 70%;*/
    outline: none;
}

.modal-content{
    width: 65%;
    text-align: center;
}

.emial_component{
    /*padding-right: 300px;  */
    width: 100%;
}

.custom_form_control{
    width: 80%;
    height: 33px;
    margin-bottom: 5px;
}



.margin-ten{
    margin: 10px;
}

.margin-left-ten{
    margin-left: 10px;
}

.margin-left-five{
    margin-left: 5px;
}

.margin-left-two{
    margin-left: 2px;
}

.margin-top-15{    
    margin-top: 15px;
}

.margin-top-35{    
    margin-top: 35px;
}

.margin-top-ten{    
    margin-top: 10px;
}

.margin-top-fifty{    
    margin-top: 10%;
}

.margin-top-five{    
    margin-top: 5px;
}

.no-padding{    
    padding: 0px;
}

.box_nicho, .box_net{
    max-width: 300px;
    height: 300px;
}

#lb_title_index, #lb_ini_net, lb_ini_nicho, #link_modelo_nicho, #link_modelo_comunidad{
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    /*font-size: 20px !important;*/
}

#link_modelo_nicho, #link_modelo_comunidad{
    font-size: 25px !important;
}

.box_item div {
    border-radius: 50%;
/*    max-width: 100%;
    height: 50%; */
    
    box-shadow: 0 0 2px 2px #444;
    padding: 0px;
}

.text-center{
    text-align: center;
}

@media(min-height: 728px){
    .hidden-xs{
        display: none;
    }
}




.pd-top5{
    padding-top: 5px;
}

.pd-top10{
    padding-top: 10px;
}

.pd-top20{
    padding-top: 20px;
}

.pd-top30{
    padding-top: 30px;
}

.pd-top40{
    padding-top: 40px;
}

.pd-top50{
    padding-top: 50px;
}

.pd-top60{
    padding-top: 60px;
}


.pd-bottom5{
    padding-bottom: 5px;
}

.pd-bottom10{
    padding-bottom: 10px;
}

.pd-bottom20{
    padding-bottom: 20px;
}

.pd-bottom30{
    padding-bottom: 30px;
}

.pd-bottom40{
    padding-bottom: 40px;
}

.pd-bottom50{
    padding-bottom: 50px;
}

.pd-bottom60{
    padding-bottom: 60px;
}


.container_5p{
    height: 5% !important;
}

.container_10p{
    height: 10% !important;
}

.container_15p{
    height: 15% !important;
}

.container_20p{
    height: 20% !important;
}

.container_25p{
    height: 25% !important;
}

.container_30p{
    height: 30% !important;
}

.container_35p{
    height: 35% !important;
}

.container_40p{
    height: 40% !important;
}

.container_45p{
    height: 45% !important;
}

.container_50p{
    height: 50% !important;
}

.container_55p{
    height: 55% !important;
}

.container_60p{
    height: 60% !important;
}

.container_65p{
    height: 65% !important;
}

.container_70p{
    height: 70% !important;
}

.container_75p{
    height: 75% !important;
}

.container_80p{
    height: 80% !important;
}

.container_85p{
    height: 85% !important;
}

.container_90p{
    height: 90% !important;
}

.container_95p{
    height: 95% !important;
}

.container_100p{
    height: 100% !important;
}

.home_line{
    border-width: 1px;
    border-color: #8c8989 !important;
    opacity: 0.3;

}


.step{
    background-color: white;
    border-color: #c1bebe;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 50px;
    height: 150px;
    line-height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 150px;
}

.shadow{
    -webkit-box-shadow: 15px 14px 28px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 14px 28px -22px rgba(0,0,0,0.75);
    box-shadow: 15px 14px 28px -22px rgba(0,0,0,0.75);
}


.language_drop{

    top: 25px !important;
    right: 0px !important;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.entornolb{
    background-color: #0cde06;
    padding: 2px;
    border-radius: 2px;
    color: white;
}
